<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
		<title>Galvanize Reads</title>
	</head>
	<body>
		<div class="navbar navbar-inverse">
			<div class='container-fluid'>
				<h1>Galvanize Reads</h1>
			</div>
		</div>
			<div class='col-md-2'>
		</div>
			<div class='row'>
				<div id="Auth" class="col-md-4">
					<img src='https://upload.wikimedia.org/wikipedia/commons/2/2f/Culinary_fruits_front_view.jpg' style='height:500px;width:500px;padding:20px;'>
				<a href='/authors' style='font-size:80px;margin-left:30px'>Authors</a>
			</div>
		<div class='col-md-1'>
			<div class="col-md-4">
				<div class='row'>
					<img src='https://upload.wikimedia.org/wikipedia/commons/2/2f/Culinary_fruits_front_view.jpg' style='height:500px;width:500px;padding:20px'>
						<div class='row'>
							<a href='/books' style='font-size:80px;margin:30px'>Books</a >
							</div>
						</div>
					</div>